*
{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.1rem;    
}

body
{
    display: flex;
    position: relative;
    background-image: url(../images/ngeeAnnPoly00.jpg);
    background-position: center;
    background-size: cover;
    align-items: center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
}

#container1
{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 48vw;
    height: 95vh;
    background-color: rgba(144,145,128,0.5);
    justify-content: center;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

#container2
{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 48vw;
    height: 95vh;
    justify-content: center;
    background-color: rgba(21,32,36,0.9);
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

#clockcontainer
{
    display: flex;
    position: relative;
    justify-content: center;
    width: 80%;
    height: 100px;
    margin-top: 50px;
    left: 10%;
/*    background-image: url(images/pexels-brett-sayles-1186851.jpg);
    background-size: cover;
    background-position: center;*/
}

#digiclock{
    display: flex;
    font-size: 5em;
    color: rgb(141,207,233);
    text-shadow: 3px 1px 5px rgb(7, 71, 105);
}

#paragraphcontainer
{
    display: flex;
    position: relative;
    width: 80%;
    height: 400px;
    left: 10%;
    margin-top: 20px;
    padding: 0px 20px;
    z-index: 2;
}

#maintag
{
    display: block;
    position: relative;
    width: 80%;
    margin-left:10%;
    height: 8vh;
    text-align: center;
    align-content: center;
    font-size: 1.6rem;
    border-radius: 30px;
    color: white;
    background-color: rgba(7, 71, 105, 1);
    z-index: 1;
}

#subtag
{
    display: flex;
    position: relative;
    padding: 10px 20px;
    margin-left: 10%;
    width: 80%;
    height: auto;
    font-size: 2rem;
    text-shadow: 3px 1px 3px whitesmoke;
    font-weight: 300;
    border-radius: 20px;
    color: rgb(188,220,223);
    z-index: 1;
}

img
{
    position: absolute;
    height: 100%;
    width: 45vw;
    background-size: cover;
    background-position: center;
}

#logocontainer
{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;

}

#html5logo
{
    display: flex;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0px 1vw;
    border-radius: 50%;
}

#csslogo
{
    display: flex;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0px 1vw;
}
#jslogo
{
    display: flex;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0px 1vw;
}
#githublogo
{
    display: flex;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0px 1vw;
    background: white;
    border-radius: 50%;
}
#jsonlogo
{
    display: flex;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0px 1vw;
}

ul
{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 45vh;
    margin: 5px auto;
    justify-content: center;
    align-items: center;
/*    border: 2px solid rgb(7, 71, 105); */
    border-radius: 20px;
}
.subjects
{
    display: block;
    position: relative;
    width: 50%;
    height: 5vh;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(188,220,223);
    text-align: center;
    z-index: 5;
    transition: all 0.7s ease-in;
}

.subjects a {
  display: block;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  color: inherit;
  border-radius: 20px;
}

.subjects:hover
{
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 3px 1px 5px rgba(141,207,233,0.5) inset, -3px -1px 5px rgb(191,240,225,1) inset;
    background-color: rgba(7, 71, 105,0.8);
}

.subjects:focus-within {
  outline: 2px solid rgb(141,207,233);
  outline-offset: 4px;
  border-radius: 20px;
}


