*
{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.1rem;
    /* set color */
    --bglayer: rgba(71,105,89,0.8);
}

body
{
    width: 100vw;
    height: 100vh;
    background-image: url(../images/singapore.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#headcontainer {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 5vh;
  padding: 0 50px;
  z-index: 100;
  align-items: center;
  justify-content: space-between;
  background-color: lightblue;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#mainheading {
  font-size: 1.5rem;
  text-shadow: 2px 1px 3px grey;
}

#headcontainer label,
#headcontainer select,
#applybtn,
#linkhome {
  margin-right: -40vw;
  font-size: 0.8rem;
  border: none;
}

#applybtn, label, select
{
  font-size: 0.8rem;
  height: 3vh;
  width: 11vw;
  text-align: center;
  align-content: center;
  border: none;
  background: rgba(191,217,233,1);
  box-shadow: 2px 1px 1px rgba(191,217,233,1), -2px -1px 1px white;
}

#applybtn:hover {
  cursor: pointer;
  box-shadow: 2px 1px 2px rgba(170,200,202,0.8) inset, -2px -1px 1px white inset;
}

#linkhome {
  width: 30px;
  height: 30px;
}

#maincontainer
{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 95vh;
    top: 3vh;
}

.hidden 
{
  display: none !important;
}


#container1
{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 48%;
}

#countryflagcontainer
{
    display: flex;
    position:relative;
    width: 100%;
    height: 85%;
    justify-content: center;
    align-items: center;
    background-color: var(--bglayer);
}
#countryflagcontainer img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  box-shadow: 5px 1px 5px yellow, 12px 3px -12px gray;
}

#countrystatcontainer
{
    position: relative;
    width: 100%;
    height: 85%;
    font-size: 0.8rem;
    text-align: center;
    align-content: center;
    background-color: var(--bglayer);
}

#countrystatcontainer h3
{
    font-size: 1rem;
    padding: 3px;
    color: lightskyblue;
    text-align: center;
    align-content: center;
}

#countrystatcontainer p
{
    font-size: 0.8rem;
    padding: 3px;
    color: lightskyblue;
    text-align: center;
    align-content: center;
}

#weatherappcontainer
{
    position: relative;
    width: 100%;
    height: 85%;
    font-size: 0.8rem;
    color: sandybrown;
    text-align: center;
    align-content: center;
    background-color: var(--bglayer);
}

#weatherappcontainer h3, #weatherappcontainer p 
{
  text-align: center;
  color: yellowgreen;
  margin: 1vh 0;
}


#container2
{
    display: flex;
    position: relative;
    width: 95%;
    height: 48%;
    justify-content: space-between;
    align-items: center; 
}

#countrynamecontainer{
    width: 100%;
    height: 100%;
    position: relative;  
    padding-left: 3vw; 
    font-size: 2rem;
    color: sandybrown;
    font-weight: bold;
    text-shadow: 3px 2px 4px rgba(0,0,0,0.7);
}

#mapcontainer {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  border: 5px solid greenyellow;
}

#countrynamecontainer h1
{
  color: sandybrown;
  font-size: 2rem;
}


#countryabt
{
  position: relative;
  width: 100%;
  height: 70%;
  padding: 20px;
  font-size: 0.8rem;
  font-weight: 300;
  color: lightcyan;
  background-color: var(--bglayer);
  border-radius: 30px;
  align-content: center; 
}