*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.1rem;
}

html,body
{
    position: relative;
    width: 100vw;
    height: 100%;
    scroll-behavior: smooth;
    overflow: hidden;
    background-color: rgb(246,247,244);
}

#headcontainer
{
    display: flex;
    position: fixed;
    width: 100vw;
    height: 6vh;
    padding: 0px 40px;
    z-index: 100;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#linkhome
{
    position: absolute;
    top: 1vh;
    right: 5vw;
    width: 40px;
    height: 40px;
    z-index: 1;
}

#maincontainer
{
    position: relative;
    flex-direction: column;
    top: 6vh;
    width: 100vw;
    height: 94vh;
    min-height: 100vh;
    font-size: 1rem;
    align-content: center;
    padding: 20px;
    margin-top: 0px;
    color: rgb(76,54,26);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.pages {
    display: flex;
    flex-direction: column;
    height: 94vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    justify-content: flex-start;
}

#container1,#container2
{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    padding: 20px 20px;
    font-size: 1rem;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
#subheading1,#subheading2
{
    display: flex;    
    background-color: rgba(144,145,128,0.9);
    width: 100%;
    height: 6vh;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
}

#lbldescribe1,#lbldescribe2,#lbldescribe3,#lbldescribe4
{
    display: block;
    position: relative;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(180,132,148);
    background-color: rgba(0,0,0,0.1);
    margin: 10px 0px;
    padding: 10px 20px;
}

#lblbasic,#lbllogic,#lblmethod
{
    height: 5vh;
    padding: 10px;
    text-align: center;
    align-content: center;
    font-size: 1.2rem;
    background-color: rgba(179,159,200,0.5);
}

#para1
{
    font-size: 1rem;
    font-style: italic;
    color: rgb(0,54,26);
    margin: 20px 0px; 
}
#notepara1
{
     font-weight: 500;
}

#btnoperator
{
    font-size: 1rem;
    width: 8vw;
    height: 3vh;
    border: none;
    background: rgba(191,217,233,0.2);
    box-shadow: 5px 2px 5px rgba(0,0,0,0.1);
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnbasic
{
    position: relative;
    width: 20%;
    height: 5vh;
    align-content: center;
    text-align: center;
    background-color: rgba(191,217,233,0.2);
    box-shadow: 5px 2px 5px rgba(0,0,0,0.1);
    color: rgb(78,121,156);
    font-size: 0.9rem;
    list-style-type: none;
}
.btnlogic
{
    position: relative;
    width: 25%;
    height: 5vh;
    align-content: center;
    text-align: center;
    background-color: rgba(191,217,233,0.2);
    box-shadow: 5px 2px 5px rgba(0,0,0,0.1);
    color: rgb(78,121,156);
    font-size: 1rem;
    list-style-type: none;
}
.btnmethod
{
    position: relative;
    width: 25%;
    height: 5vh;
    align-content: center;
    text-align: center;
    background-color: rgba(191,217,233,0.2);
    box-shadow: 5px 2px 5px rgba(0,0,0,0.1);
    color: rgb(78,121,156);
    font-size: 1rem;
    list-style-type: none;
}

.btnbasic:hover, .btnlogic:hover, .btnmethod:hover, .btnbasic:focus, .btnlogic:focus, .btnmethod:focus
{
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(191,217,233,0.6) inset, -5px -5px 5px white inset;
}

#btnbasicoutput, #btnlogicoutput, #btnmethodoutput
{
    width: 100%;
    height: 8vh;
    padding: 10px 5px;
    font-size: 1rem;
    background-color: rgb(0,54,26);
    color: white;
    white-space: pre-wrap;

}

