*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.1rem;
}

html,body
{
    position: relative;
    width: 100vw;
    height: 100%;
    scroll-behavior: smooth;
    overflow: hidden;
    background-color: rgb(246,247,244);
/*    background-image: url(images/pexels-george-dolgikh-551816-1303092.jpg);
    background-position: center;
    background-size: cover; */
}

#headcontainer
{
    display: flex;
    position: fixed;
    width: 100vw;
    height: 5vh;
    padding: 0px 40px;
    z-index: 100;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#mainheading
{
    font-size: 1.5rem;
}

#linkhome
{
    position: absolute;
    top: 0.3vh;
    right: 5vw;
    width: 40px;
    height: 40px;
    z-index: 1;
}

#maincontainer
{
    position: relative;
    flex-direction: column;
    top: 6vh;
    width: 100vw;
    height: 94vh;
    min-height: 100vh;
    font-size: 0.8rem;
    align-content: center;
    padding: 20px;
    margin-top: 0px;
    color: rgb(76,54,26);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.pages {
    display: flex;
    flex-direction: column;
    height: 94vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    justify-content: flex-start;
}

#container1,#container2,#container3,#container4
{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    padding: 20px 20px;
    font-size: 0.8rem;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
#subheading1,#subheading2,#subheading3,#subheading4
{
    display: flex;    
    background-color: rgba(144,145,128,0.9);
    width: 100%;
    height: 5vh;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: white;
    font-size: 1.4rem;
}

#lbldescribe1,#lbldescribe1_1,#lbldescribe2,#lbldescribe2_1,#lbldescribe2_2,#lbldescribe3,#lbldescribe4,#lbldescribe5
{
    display: block;
    position: relative;
    width: 100%;
    font-size: 0.8rem;
    font-weight: 600;
    color: rgb(180,132,148);
    background-color: rgba(0,0,0,0.1);
    margin: 5px 0px;
    padding: 10px 20px;
}

#btncontainer
{
    display: flex;
    position: relative;
    gap: 1rem;
    align-items: center;
    justify-self: flex-start;
    flex-wrap: wrap;
}

#showvar,#showlet,#showconst,.databtn
{   
    display: inline-block;
    position: relative;
    width: 7vw;
    height: 3vh;
    padding: 5px 5px;
    margin: 10px 0px;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 10px;
    border: none;
}

#showvar:hover, #showvar:focus
{
background-color: lightpink;
color: white;
box-shadow: 3px 1px 5px darkgray;
}

#showlet:hover, #showconst:hover,.databtn:hover, #showlet:focus, #showconst:focus,.databtn:focus, #checktype:hover
{
background-color: lightseagreen;
color: white;
box-shadow: 3px 1px 5px darkgray;
}

#resetbtn
{
    position: absolute;
    background-color: rgba(120,14,0,0.8);
    color: white;
    right: 0px;
    width: 8vw;
    height: 3vh;
    padding: 5px 5px;
    margin: 10px 0px;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    z-index: 1;
}
#resetbtn:hover
{
box-shadow: 3px 1px 5px darkgray;
}

#outputnote1,#outputnote2,#constinit0,#constinit1,#constinit2,#varhoist, #lethoist
{
    font-size: 0.8rem;
    color: rgb(0,34,25);
    background-color: rgb(186, 214, 189);
    height: 3vh;
    text-align: center;
    align-content: center;
    margin: 10px 0px;
}

#output1,#output2
{
    display: flex;
    position: relative;
    width: 100%;
    height: 6vh;
    text-align: left;
    font-size: 0.8rem;
    background-color: rgb(0,54,26);
    color: rgb(255,255,255);
    white-space: pre-wrap;
    padding: 10px 10px;
    margin-top: 5px;
    border-radius: 10px;
}

caption
{
    background-color: rgb(186, 214, 189);
    height: 2vh;
    align-content: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  font-family: Arial, sans-serif;
}

thead tr {
  background-color: #333;
  color: #fff;
}

td, th {
  padding: 0.6rem;
  border: 1px solid #ccc;
  text-align: left;
}

#initdemo1,#initdemo2,#initdemo3,#initdemo4
{
    position: relative;
    width: 100%;
    height: 5vh;
    font-size: 0.8rem;
    background-color: rgb(0,54,26);
    color: rgb(255,255,255);
    white-space: pre-wrap;
    padding: 5px 10px;
    margin-top: 5px;
    border-radius: 10px;
}

.tablefunction, .tableobject 
{
  display: table;
  width: 100%;
  border-collapse: collapse;
}
.rowfunction, .rowobject 
{
  display: table-row;
}
.cellfunction, .cellobject 
{
  display: table-cell;
  padding: 5px;
  border: 1px solid #ccc;
}

td
{
    font-size: 0.6rem;
}

#sampledata
{
    width: 100%;
    height: 5vh;
    margin: 0.5vh;
    padding: 10px 10px;
    align-content: center;
    background-color: rgb(0,54,26);
    color: rgb(255,255,255);
    font-size: 0.8rem;
    border-radius: 10px;
}
#userInput
{
    margin-top: 0.5vh;
    width: 30%;
    height: 5vh;
    font-size: 0.8rem;
    border-radius: 10px;
    box-shadow: 5px 1px 3px lightgray;
    padding-left: 10px;
}

#datatype
{
    display: inline-block;
    position: relative;
    margin-top: 0.5vh;
    width: 30%;
    height: 5vh;
    padding: 0px 10px;
    font-size: 0.8rem;
    align-items: center;
    align-content: center;
    background-color: rgb(0,54,26);
    color: rgb(255,255,255);
    white-space: pre-wrap;
    border-radius: 10px;
    box-shadow: 5px 1px 3px lightgray; 
}

#checktype
{
    width: 8vw;
    background-color: lightseagreen;
    color: white;
    width: 6vw;
    height: 4vh;
    margin: 20px 0px;
    padding: 10px 10px;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#highlight0
{
    color: rgba(221,157,156,1);
}
#highlight1
{
    color: rgba(116,188,229,1);
}

#highlight2
{
    color: rgb(148, 37, 10);
    font-size: 800;
    font-style: italic;
}


#output1,#output2,#hoistdef
{
    font-size: 0.8rem;
    padding: 1vh 1vw;   
}

#hoist
{
    font-style: italic;
    font-weight: 800;
    color: rgba(251,137,166,1);
}

#varhoistdemo0, #varhoistdemo1
{
    position: relative;
    width: 100%;
    height: 12vh;
    font-size: 0.8rem;
    background-color: rgb(0,54,26);
    color: rgb(255,255,255);
    white-space: pre-wrap;
    padding: 10px 10px;
    margin-top: 8px;
    border-radius: 10px;
}
